/*
overriding scaffolding.less from bootstrap that messes up materialized dashboards
but keeps icons from
https://www.w3schools.com/icons/bootstrap_icons_glyphicons.asp
*/
html {
  font-size: 1em;
}

.btn {
  padding: 12px 20px;
}